PORT=3001
ADMIN_SECRET=troque-esta-chave

PGHOST=localhost
PGPORT=5435
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=webquest_fsi

# Alternativa:
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/webquest_fsi
# PGSSL=false
